.journal__main-content {
  display: flex;
}
.journal__sidebar {
  background-color: $dark-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  width: 450px;
}
.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
  & h3 {
    font-weight: lighter;
  }
}
.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color .3 ease;
  &:hover {
    color: darken($color: $white, $amount: 20);
  }
}
.journal__entries {
  flex: 1 1 auto;
  margin: 30px 0 10px 0;
  padding-right: 5px;
  overflow-y: auto;
  :last-child {
    margin-bottom: 0px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: darken($color: $white, $amount: 10);
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 50px;
  }
}
.journal__entry {
  background-color: $white;
  border-radius: 4px;
  color: $dark-grey;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  transition: background-color .3 ease;
  &:hover {
    background-color: darken($color: $white, $amount: 20);
  }
}
.journal__entry-picture {
  flex-shrink: 0;
  height: 70px;
  width: 70px;
}
.journal__entry-body {
  padding: 10px;
}
.journal___entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal___entry-content {
  font-size: 10px;
}
.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  & span {
    font-size: 12px;
  }
}
